<div class="login d-flex justify-content-center align-items-center m-auto">
    
    <div class="row">
        <div class="col-md-6 p-0">
            <div class="overlay"></div>
            <img src="../../../../assets/home_image.jpg" alt="">
        </div>
        <div class="col-md-6">
            <div class="h-80 mb-3 mt-5 d-flex align-items-center justify-content-center w-100">
                <img src="../../../../assets/logo.svg.png" style="height: 70px; width: 175px;" alt="">
            </div>
            <div class="h-80 mb-3 mt-5 d-flex align-items-center justify-content-center w-100">
                <h3 style="font-size: 36px; color: #333; font-family: 'Arial', sans-serif; font-weight: bold; text-transform: capitalize;">Welcome , GIPO Registre</h3>
                &nbsp;
                &nbsp;
            
                <h5>     V 0.1</h5>
            </div>
            
            
            
            
         <div class="h-80 d-flex align-items-center justify-content-center w-100">
           
            <div class="box w-75">
                <h2>Connexion </h2>
             
        
                <form [formGroup]="loginForm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Login</mat-label>
                        <input matInput  formControlName = "email" placeholder="Login ">
                        <mat-error>required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName = "password" placeholder="password">
                        <mat-error>required</mat-error>
        
                    </mat-form-field>
                </form>
                <div class="d-flex justify-content-center">
                    <button   mat-raised-button color="warn" (click)="login()">Login</button>
                </div>
            </div>
         </div>
        </div>
    </div>
 
</div>